.banner{
    background: url(../../../images/bannerbackground.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 200px 0;
}

.inputField input{
    outline: none;
    border: none;
    border-radius: 40px;
    /* padding: 0px; */
}

.inputField .inputBtn{
    outline: none;
    border: none;
    border-radius: 20px;
}